<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SqlConexion" value="Data Source=104.196.0.213;Initial Catalog=WISETRACK;Persist Security Info=True;User ID=etech;Password=Elimelec1" />
  </appSettings>
</configuration>