<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>E:\Publicaciones\WebWisetrack</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Wisetrack-Web.config Connection String">
      <ParameterValue>Data Source=200.105.145.118,1433;Initial Catalog=WISETRACK;Persist Security Info=True;User ID=sa;Password=Elimelec1;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WISETRACKEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Datos.wisetrack.csdl|res://*/Datos.wisetrack.ssdl|res://*/Datos.wisetrack.msl;provider=System.Data.SqlClient;provider connection string="Data Source=200.105.145.118,1433;Initial Catalog=WISETRACK;Persist Security Info=True;User ID=sa;Password=Elimelec1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>